.header {
  align-items: center;
  justify-content: center;
}

.headerTitle {
  align-items: center;
}

md-icon {
  margin: 0 10px;
  width: 48px;
  height: 48px;
}

.sideCategories {
  max-width: 35%;
  padding: 10px;
}
.sideCategories h3 {
  text-align: center;
  color: #555;
}

.content {
  padding: 0 10px;
}

.btnAdd {
  max-height: 20px;
  margin-top: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

md-checkbox p {
  margin-top: 2px;
  padding: 0;
}

/*HOME CONTAINER*/
.homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.homeContainer h2 {
  margin: 0;
  padding: 0;
  color: #555;
}

.homeContainer h1 {
  margin: 10px 0;
  padding: 0;
  color: #3f51b5;
  letter-spacing: 2px;
}

.homeContainer p {
  margin-top: 10px;
}
